.start {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.btn{
    text-align: center;
    font-size: 80px;
    color:white;
    background-color:black;
    
}