/* .start controls where the start button is on the webpage */
.start {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* .btn controls the font and colors of the start btn*/
.btn{
    text-align: center;
    font-size: 80px;
    color:white;
    background-color:black;
    
}