.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    height: 60vh;
    margin: 0 auto;
    padding: 0;
}

.quiz h1 {
    font-size:50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header #progress {
    font-size: 25px;
    font-weight: 600;
}

.header #time {
    font-size: 25px;
    font-weight: 600;
}

.quiz #question {
    font-size: 25px;
    font-weight: 600;
}

.btn {
    text-align: left;
    width: 100%;
    font-size: 25px;
    margin: 5px 0;
}


.footer {
    
}